* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: 2;
}

.btn {
    font-family: inherit;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    font-weight: 700;
    font-size: 0.875rem;
    padding: 0.75rem 1.75rem;
    border-radius: 0.5rem;
}

.btn-outline {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

header {
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
}

.brand {
    font-family: serif;
    font-weight: 700;
    font-size: 1.375rem;
    padding-block: 1rem;
}

.nav {
    display: flex;
}

.nav-link {
    color: #505050;
    font-family: serif;
    font-weight: 700;
    padding: 1rem 2rem;
}

.nav-link.active {
    color: #000;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 4rem 7rem;
}

.hero p {
    color: #403e3e;
    margin-top: 0.25rem;
}

.hero-title {
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 2px;
    margin: 0;
}

.hero-subtitle {
    font-family: serif;
    font-size: 2rem;
    margin: 0;
}

.hero .btn {
    margin: 0.5rem 1rem 0 0;
}

.hero-image {
    width: 100%;
}

.services {
    padding: 4.5rem 7rem;
    background-color: #f6f5f5;
    text-align: center;
}

.services-title {
    font-size: 1.625rem;
    font-weight: 700;
    margin-top: 0;
}

.services-subtitle {
    color: #7e7d7d;
    margin-bottom: 4rem;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.box {
    background-color: #000;
    color: #fff;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
    padding: 3rem 2rem;
}

.box .btn {
    background-color: #fff;
    color: #000;
    font-size: 0.75rem;
    padding: 0.625rem 1.25rem;
}

.box-title {
    font-size: 1.375rem;
    margin: 0;
}

.box-description {
    margin: 1rem 0 1.5rem;
    line-height: 1.5;
    color: #8f8f8f;
}

.footer {
    background-color: #191919;
    text-align: center;
    color: #fff;
    padding: 3rem 7rem 2rem;
}

.footer-title {
    font-size: 1.625rem;
    font-weight: 700;
    margin: 0;
}

.footer-description,
.footer-copyright {
    color: #7e7d7d;
}

.footer-copyright {
    margin: 0;
}

.socmed-list {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin: 2rem 0 1rem;
}

.socmed-item {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.float-socmed {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.float-socmed-item {
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #cbcbcb;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.25rem;
}
